[submodule "sample"]
	path = sample
	url = ssh://git@github.com/clevertree/snesology-samples
[submodule "audio-source"]
	path = audio-source
	url = ssh://git@github.com/clevertree/audio-source.git
[submodule "songs"]
	path = songs
	url = ssh://git@github.com/clevertree/snesology-songs
