.music-editor {
    color: #FFF;
    background-color: #DDD;
    display: block;
    font-size: 14px;
    /* line-height: 16px; */
    font-family: monospace;
    position: relative;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}

/** Grid **/

.music-editor .editor-grid {
    /*cursor: pointer;*/
    /* display: block; */
    /* border-collapse: collapse; */
    /* display: table; */
    /* width: 100%; */
}


/** Grid Row **/

.music-editor .editor-grid .grid-row {
    cursor: pointer;
    background-color: #999;
    height: 18px;
    position: relative;
    transition: background-color 0.1s ease-out;
}

.music-editor .editor-grid .grid-row.odd {
    background-color: #AAA;
}

.music-editor .editor-grid .grid-row.selected {
    background-color: #ffeedd;
    position: relative;
    box-shadow: #ffeedd 0px 0px 9px;
    z-index: 2;
}
.music-editor .editor-grid .grid-row.playing {
    transition: background-color 0s;
    background-color: #609060;
    position: relative;
    box-shadow: #AFA 0px 0px 4px;
    z-index: 1;
}


/** Grid Cell **/

.music-editor .editor-grid .grid-data {
     display: inline-block;
     overflow: hidden;
     padding: 0px 3px;
     color: #666;
     border: solid 1px #666;
     border-radius: 4px;
     background-color: #CCC;
     position: relative;
     z-index: 1;
}

.music-editor .editor-grid .grid-data-new {
    opacity: 0;
    transition: opacity 0.25s;
}
.music-editor .editor-grid .grid-row.selected .grid-data-new {
    opacity: 1;
}

.music-editor .editor-grid .grid-data:last-child {
    margin-right: 0;
}

.music-editor .editor-grid .grid-data.playing {
    font-weight: bold;
}


.music-editor .editor-grid .grid-data.selected {
    font-weight: bold;
    max-width: 1000px;
    /* background-color: #444; */
    border-color: orangered;
    box-shadow: #441200 0 1px 10px;
    background-color: white;
    z-index: 2;
    /* position: relative; */
}

.music-editor .editor-grid .grid-parameter{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.music-editor .editor-grid .grid-parameter:not(:first-child) {
    margin-left: 3px;
    padding-left: 3px;
    border-left: 1px solid #888;
    max-width: 40px;
    opacity: 1;
    transition: all 0.25s ease-out;
}

.music-editor .editor-grid .grid-parameter.instrument {
    color: darkblue;
}
.music-editor .editor-grid .grid-parameter.groupExecute {
    color: green;
}
.music-editor .editor-grid .grid-parameter.frequency {
    color: darkred;
}
.music-editor .editor-grid .grid-parameter.duration {
    color: purple;
}
.music-editor .editor-grid .grid-parameter.velocity {
    color: green;
}


.music-editor .editor-grid .measure-end {
    border-bottom: 2px solid #555;
    border-bottom: 1px solid #666;
}

.music-editor .editor-grid .grid-data:not(.selected):not(.playing) .grid-parameter.duration.matches-pause {
    max-width: 0px;
    margin-left: 0px;
    padding-left: 0;
    border-left: 0px;
    opacity: 0;
    transition-delay: 0.25s;
}

.music-editor .editor-grid .grid-data-pause {
    position: absolute;
    /* top: 0; */
    right: 0;
    color: #000;
    z-index: 1;
    opacity: 0.3;
}
.music-editor .editor-grid .grid-row.selected .grid-data-pause {
    opacity: 1;

}


/** Menu **/

.music-editor .editor-menu {
    display: block;
    /* border: 1px solid grey; */
    background-color: #BBB;
    color: black;
}

.music-editor .editor-menu hr {
    margin: 4px 0;
    border: 1px #666 solid;
}

.music-editor .editor-menu li {
    list-style-type: none;
}

.music-editor .editor-menu > li {
    /*float: left;*/
    display: inline-block;
}

.music-editor .menu-section-title {
    text-align: center;
    display: block;
    /* font-weight: bold; */
    font-size: 0.7em;
    padding: 3px 18px;
    white-space: nowrap;
    /* border-bottom: 1px solid #AAA; */
    /* text-decoration: underline; */
}

.music-editor .menu-item > .key {
    /*font-weight: bold;*/
    text-decoration: underline;
}

.music-editor .menu-item {
    vertical-align: top;
    display: inline-block;
    padding: 3px 8px;
    /* position: relative; */
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}
.music-editor .submenu .menu-item {
    min-width: 128px;
}

.music-editor .menu-item > * {
    white-space: nowrap;
}

.music-editor .menu-item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.music-editor .submenu {
    display: none;
    border: 1px solid grey;
    background-color: #BBB;
    position: absolute;
    opacity: 0;
    margin: 0 0;
    padding: 0 0;

    max-height: 0px;
    transition: max-height 2s, opacity 0.5s;
    list-style-type: none;
    /*overflow: hidden;*/
    /* min-width: 200px; */
}

.music-editor .submenu:hover,
.music-editor .menu-item:hover + .submenu,
.music-editor .menu-item.open + .submenu,
.music-editor .submenu.open {
    /* display: block; */
    display: inline-block;
    white-space: nowrap;
    opacity: 1;
    max-height: 800px;
    transition: max-height 2s, opacity 1s;
    /*transition: max-height 2s;*/
    z-index: 98;
}
.music-editor .submenu:hover,
.music-editor .menu-item:hover + .submenu {
    z-index: 99;
}
.music-editor .menu-item:hover {
    background-color: #AAA;
}
.music-editor .menu-item.open {
    background-color: #99C;
}
.music-editor .menu-item:active {
    background-color: #888;
}

.music-editor .submenu-pointer {
    /* float: right; */
    position:  absolute;
    right: 4px;
}
.music-editor .submenu-pointer:after {
    content: '➤';
}

/** Context Menu **/

.music-editor .editor-context-menu {
    /* border: 1px solid grey; */
    background-color: #BBB;
    color: black;
    position: fixed;
    display: none;
    z-index: 99;
}
.music-editor .editor-context-menu.open {
    display: block;
}

/** Form **/
.music-editor .editor-panel {
    padding: 4px 0px;
    color: black;
}

.music-editor .editor-panel form {
    /* border: 1px solid #333; */
    /* background-color: #CCC; */
    /* margin: 0px 0; */
    padding: 2px 0px;
    display: inline-block;
}
.music-editor .editor-panel form fieldset {
    
border: 0;
    
padding: 0 0;
    
margin: 0 0;
}

.music-editor .editor-panel label.row-label {
    display: inline-block;
    min-width: 50px;
    text-align: right;
    font-size: smaller;
    font-weight: bold;
}

.music-editor .editor-panel form.hidden {
    display: none;
}

.music-editor .editor-panel select,
.music-editor .editor-panel button {
    border-radius: 5px;
    border: 1px outset;
    background: linear-gradient(#FFF, #DDD); /* Standard syntax (must be last) */
    max-width: 100px;
    cursor: pointer;
}

.music-editor .editor-panel select[name=instrument] {
    max-width: 100px;
}
.music-editor .editor-panel select[name=frequency] {
    max-width: 42px;
}
.music-editor .editor-panel select[name=duration] {
    max-width: 51px;
}
.music-editor .editor-panel select[name=velocity] {
    max-width: 62px;
}
.music-editor .editor-panel select[name=pause] {
    max-width: 100px;
}
.music-editor .editor-panel select[name=beats-per-minute] {
    max-width: 138px;
}
.music-editor .editor-panel select[name=beats-per-measure] {
    max-width: 133px;
}

.music-editor:not(.playing) form.form-song-pause { display: none; }
.music-editor.playing form.form-song-play { display: none; }
.music-editor:not(.paused) form.form-song-resume { display: none; }

.music-editor .editor-panel select:disabled,
.music-editor .editor-panel button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.music-editor .editor-panel button.selected {
    border: 1px inset;
    font-weight: bold;
}