

/** Instrument List **/

music-editor-instrument-list > form.form-add-instrument > select[name=instrumentURL] {
    max-width: 144px;
}

/** Instrument Container **/

music-editor-instrument-list > form.form-add-instrument,
music-editor-instrument {
    position: relative;
    vertical-align: top;
    display: inline-block;
    /* float: left; */
    /*min-height: 60px;*/
    margin: 2px;
    padding: 0px 2px 2px 2px;
    border: 1px outset;
}

music-editor-instrument form.form-instrument-name input[name=name] {
    padding: 1px;
    margin: 0 0;
    border: 0px;
    min-width: 28em;
}

music-editor-instrument form.form-instrument-name > label.label-instrument-name{
    margin: 5px 0px 1px 6px;
    display: inline-block;
    /* margin: 0 0; */
    /* border: 0px; */
    /* min-width: 28em; */
}

music-editor-instrument > legend {
    margin: 3px 0px 3px 0px;
    display: inline-block;
    background: linear-gradient(to right, #bfbfbf 0%,#dddddd 92%);
    border-radius: 4px;
}

music-editor-instrument:hover {
    background-color: #CCC;
}
music-editor-instrument form.form-instrument-name input[name=name]:not(:hover) {
    background-color: #0000;
}

music-editor-instrument form.form-instrument-name button.remove-instrument {
    /* text-align: center; */
    padding: 0px 6px 1px 6px;
    /* margin: 0px 0px 1px 0px; */
    border: 1px outset;
    border-radius: 4px;
    color: darkred;
}