music-editor {
    /* color: #FFF; */
    background-color: #DDD;
    display: block;
    /* font-size: 14px; */
    /* line-height: 16px; */
    font-family: monospace;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}
