

music-editor-instrument {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    /* float: left; */
    margin: -- 0px 2px 4px;
    padding: 3px;
    border: 1px outset;
}

music-editor-instrument button.remove-instrument {
    width: 16px;
    height: 18px;
    padding: 0px;
    margin: -1px -2px 0px 3px;
    border: 1px outset;
    border-radius: 4px;
    color: darkred;
    font-weight: bold;
}

music-editor-instrument > legend {
    /* text-align: center; */
    font-size: small;
    font-weight: bold;
    background: linear-gradient(to bottom, #FFF 60%,#dddddd 100%);
    border-radius: 6px;
    padding-left: 5px;
}

music-editor-instrument form {
    /* border: 1px solid #333; */
    /* background-color: #CCC; */
    /* margin: 0px 0; */
    /* padding: 1px 2px 1px 0px; */
    padding-top: 2px;
    display: inline-block;
}

music-editor-instrument form > legend {
    /* text-align: center; */
    font-size: x-small;
    font-weight: bold;
    background: linear-gradient(to bottom, #FFF 40%,#dddddd 100%);
    border-radius: 2px;
}
