/** Page Header **/
.page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}


/** Page Menu **/
.toggle-page-menu {
    display: none;
    user-select: none;
}

.page-button {max-width: 42em;margin: 0 auto;}

/** Page Button **/
.page-button a {
    display: block;
    padding: 10%;
    /* margin: 1em 15%; */
    background-color: rgba(0, 49, 77, 0.9);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    transform: scale(0.9);
    /*     cursor: not-allowed; */
    border-radius: 0.5em;
}

.page-button a:hover {
    transform: scale(1);
}



/** Tier Content **/

.tier-header {
    text-align: center;
    /* text-decoration: underline; */
    font-size: larger;
    font-weight: bold;
    padding: 12px 16px;
    margin: 16px;
    background-color: rgb(51, 53, 55);
    border-radius: 3px;
    color: #a7feef;
}

.tier-categories {
    float: right;
    max-width: 400px;
}

.tier-category {
    position: relative;
    padding: 12px 16px;
    margin: 16px;
    background-color: rgb(51, 53, 55);
    border-radius: 3px;
}

.tier-category {

}

.tier-title {
    font-weight: bold;
    color: #a7feef;
}
.tier-description {
    color: #ffffff;
    font-size: 12px;
    padding: 0px 8px;
    list-style-type: square;
}
ul.tier-description li {
    padding-bottom: 4px;
}
ul.tier-description .includes {
    color: #AAA;
}

.tier-delivery {
    color: #a6a6a6;
    font-size: 12px;
    float: right;
}
.tier-sponsors {
    color: #a6a6a6;
    font-size: 12px;
}

/** Tier Content Mobile/Responsive View **/
body.mobile .tier-categories {
    float: none;
    /* margin-top: 48px; */
    max-width: 750px;
}

.page-section {
    margin-bottom: 3em;
}

/** Page Options **/

.page-option,
.page-option-header,
.page-option-footer {
    padding: 12px;
    margin: 0 auto;
    background-color: rgba(0, 49, 77, 0.9);
    max-width: 560px;
}


.page-option-header {
    border-bottom: 1px solid #01437d;
    border-radius: 1em 1em 0 0;
    font-weight: bold;
    text-align: center;
}

.page-option-footer {
    border-top: 1px solid #01437d;
    border-bottom: 1px solid #01437d;
    border-radius: 0 0 1em 1em;
    text-align: right;
    font-size: 10px;
    /*font-style: italic;*/
    color: #888888;
    white-space: nowrap;
}

.page-option {
    background-color: rgba(0, 49, 77, 0.9);
    text-align: right;
    min-height: 34px;
    vertical-align: middle;
}
.page-option > * {
    vertical-align: middle;
}
.page-option > span {
    float: left;
    margin-top: 8px;
}

/** Iframes **/

.iframe-subscribe,
.iframe-donate {
    border: 0;
    width: 100%;
    overflow: hidden;
}
.iframe-subscribe {
    min-height: 279px;
}
.iframe-donate {
    min-height: 170px;
}

/** Input **/

input.page-input {
    padding: 0.5em;
    /* margin: 0.5em 0 0 0; */
    border-radius:  0.5em;
}

/** Toggle Buttons **/

/* The page-option-slider - the box around the slider */
.page-option-slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* float: right; */
    /* margin-top: -1px; */
}

/* Hide default HTML checkbox */
.page-option-slider input[type=checkbox] {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Percentages **/

.number-percentage:after {
    content: '%'
}
.number-percentage {
    display: inline-block;
    min-width: 32px;
}

/** Images **/

.concept-art-image {
    max-width: 500px;
}